# TODO hack for experimental site
baseURL: https://mirror.barge.org/
languageCode: en-us
title: BARGE.org
theme: ["PaperMod"]
sectionPagesMenu: main
params:
  env: production
  description: >-
    This is the home page for the BARGE event in Las Vegas, the EMBARGO event
    in Las Vegas, and BARGE, Inc., which is a tax exempt Nevada corporation
    operating as a 501(c)(7) not-for-profit social club.
  mainSections:
    - barge
    - barge/results
    - embargo
    - embargo/results
    - blog
    - news
  selfHosted: true
  socialShare: true
  showRelatedPosts: true
  # PaperMod stuff:
  showShareButtons: true
  ShareButtons:
    - "facebook"
    # - "linkedin"
    - "reddit"
    - "whatsapp"
    # - "x"
  ShowBreadcrumbs: true
  ShowPostNavLinks: true
  # editPost:
  #   URL: "https://github.com/ts4z/barge.org/tree/main/content"
  #   Text: "Suggest Changes" # edit text
  #   appendFilePath: true # to append file path to Edit link
  label:
    icon: /barge_logo_undated-1024x694-1920w.png
  footer:
    text: >-
    hideCopyright: true
  disableSpecial1stPost: true
  hideFooter: true
menu:
  main:
    - name: Register Now!
      url: https://barge.regfox.com/embargo-2025
      weight: 999
outputs:
  home:
    - HTML
    - RSS
