# TODO hack for experimental site
baseURL: https://www.barge.org/
languageCode: en-us
title: BARGE.org
theme: ["PaperMod"]
sectionPagesMenu: main
enableRobotsTXT: true
params:
  env: production
  description: >-
    This is the home page for the BARGE event in Las Vegas, the EMBARGO event
    in Las Vegas, and BARGE, Inc., which is a tax exempt Nevada corporation
    operating as a 501(c)(7) not-for-profit social club.
  mainSections:
    - barge
    - barge/results
    - embargo
    - embargo/results
    - blog
    - blog/trip-reports
    - news
    - calendar
  # Keep these short so they're one line on a phone.
  nextEvents:
    - link: https://argempoker.com/
      text: "ARGEM: June 20-22, 2025 at Maryland Live!"
    - link: /barge/2025/
      text: "BARGE: July 28-August 2, 2025 @ Orleans"
  # CTAs are added to (almost) all pages at the top in an obnoxious yellow box.
  # Each CTA should be made of a link and a display text.  Any number of CTAs
  # are supported, but try to limit yourself to one or two.
  ctas:
    # - link: https://argempoker.com/
    #   text: ARGEM VI &mdash; June 20-22, 2025 at Maryland Live!
    # - link: /barge/2025/
    #   text: "BARGE 2025: July 28&mdash;August 2 at the Orleans in Las Vegas!"
    # - link: /embargo/
    #   text: EMBARGO 2025 is January 16-19 at Resorts World!
  selfHosted: true
  socialShare: true
  showRelatedPosts: true
  # PaperMod stuff:
  showShareButtons: true
  ShareButtons:
    - "facebook"
    # - "linkedin"
    - "reddit"
    - "whatsapp"
    # - "x"
  ShowBreadcrumbs: true
  ShowPostNavLinks: true
  # editPost:
  #   URL: "https://github.com/ts4z/barge.org/tree/main/content"
  #   Text: "Suggest Changes" # edit text
  #   appendFilePath: true # to append file path to Edit link
  label:
    icon: /barge_logo_undated-1024x694-1920w.png
  footer:
    text: >-
    hideCopyright: true
  disableSpecial1stPost: true
  # we do the footer by hand
  hideFooter: true
outputs:
  home:
    - HTML
    - RSS
Local Variables:
