
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, serif;
}

body {
    font-family: 'Trebuchet MS', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
    font-family: Georgia;
}

.cta-wrapper {
    background-color: #ffff44;
    color: #000000;
    border: solid;
    border-radius: 10px;
    padding: 2px;
    text-align: center;
}

.cta-wrapper-wrapper {
    color: #000000;
    border-radius: 5px;
    padding: 2px;
}

.cta-text {
    font-size: large;
    text-align: center;
    box-shadow: 0 1px 0 0;
}

.next-event-wrapper {
    padding: 2px;
    text-align: center;
}

.next-event-wrapper-wrapper {}

.next-event-text {
    font-size: large;
    text-align: center;
    box-shadow: 0 1px 0 0;
}

.floatright40 {
    float: right;
    width: 40%
}

/* -- */

/* Slideshow container */
.slideshow-container {
  float: left;
  max-width: 100%;
  height: 230px;
  border: 10px;
  position: relative;
  padding: 0px;
  align: center;
}

/* Hide the images by default */
.slideshow-slide {
  display: none;
  object-fit: cover;
  width: 350px;
  height: 200px;
  padding: 5px;
}

/* Next & previous buttons */
.ss-ctrl {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 8px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  box-shadow: none;
}

/* Position the "next button" to the right */
.ss-next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.ss-ctrl:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.ss-fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
