.memoriam-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 5px;
}

.memoriam-card {
  /*border: 1px solid #ddd;*/
  padding: 5px;
  border-radius: 8px;
  /*background-color: #f9f9f9;*/
  width: 160px;
  height: 320px;
  object-fit: cover;
  float: left;
}

.memoriam-text {
  text-align: center;
  font-size: 1.53vh;
}

.memoriam-nowrap {
  white-space: nowrap;
}
