{{ define "main" }}
  <!-- list.html -->
  <style>
.memoriam-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.memoriam-card {
  text-align: center;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 200px;
  height: 335px;
  object-fit: cover;
  float: left;
}
  </style>
  
  <h1>{{ .Title }}</h1>
  <p>{{ .Content }}</p>
  <div class="memoriam-gallery">
    {{ range .Pages }}
    {{ $remote := resources.GetRemote .Params.image }}
    {{ $image := $remote.Process "fill 200x225" }}
    <div class="memoriam-card">
        <a href="{{ .RelPermalink }}">
          <img src="{{ $image.RelPermalink }}" alt="{{ .Title }}">
          <p>{{ .Title }}</p>
          <div>
            {{- if and .Params.born .Params.died }}
            {{- .Params.born }}&mdash;{{- .Params.died }}
            {{- else if .Params.died }}
            {{- .Params.died }}
            {{- else }}
            {{- .Params.date | time.Format "2006" }}
            {{- end }}
          </div>
          {{- if .Params.location }}
          <div>{{ .Params.location }}</div>
          {{ end }}
        </a>
      </div>
    {{ end }}
  </div>
{{ end }}
