{{ define "main" }}
  {{- /* styles for these classes live in assets/css/extended/memoriam.css */}}
  <h1>{{ .Title }}</h1>
  {{ .Content }}

  <hr>

  <div class="memoriam-gallery">
    {{ range .Pages }}
    {{ $resource := .Resources.Get .Params.image }}
    {{ $image := $resource.Process "fill 160x180" }}
    <div class="memoriam-card">
      <a href="{{ .RelPermalink }}">
        <figure>
          <img src="{{ $image.RelPermalink }}" alt="{{ .Title }}">
          <figcaption>
            <div class="post-description memoriam-text">{{ .Title }}</div>
            <div class="post-description memoriam-text">
              {{- if and .Params.born .Params.died -}}
                <span class="memoriam-nowrap">{{- .Params.born }}</span>&mdash;<span class="memoriam-nowrap">{{- .Params.died -}}</span>
              {{- else if .Params.died -}}
                {{- .Params.died }}
              {{- else if .Params.date -}}
                {{- .Params.date | time.Format "2006" -}}
              {{- else -}}
                &mdash;
              {{- end -}}
            </div>
            {{- if .Params.location }}
              <div class="post-description memoriam-text">{{ .Params.location }}</div>
            {{ end }}
          </figcaption>
          </figure>
        </a>
      </div>
    {{ end }}
  </div>
{{ end }}
