{{- define "main" }}

{{- if (and site.Params.profileMode.enabled .IsHome) }}
{{- partial "index_profile.html" . }}
{{- else }} {{/* if not profileMode */}}

{{- partial "common-header.html" . }}

{{- if .Content }}
<div class="post-content">
  {{- if not (.Param "disableAnchoredHeadings") }}
  {{- partial "anchored_headings.html" .Content -}}
  {{- else }}{{ .Content }}{{ end }}
</div>
{{- end }}

{{- partial "home_info.html" . }}

  <div class="title-gallery">
    {{ range .Pages }}
    <a class="title-card" href="{{ .RelPermalink }}">
      <div class="title-card">
        <div class="title-text">{{ .Title }}</div>
      </div>
    </a>
    {{ end }}
  </div>

{{- end }}{{/* end profileMode */}}

{{- end }}{{- /* end main */ -}}
