{{ $classID := hash.FNV32a .Params.resourcePattern }}

{{- if not ($.Page.Store.Get "autoslideshowCount") -}}
<link rel="stylesheet" href="/css/autoslideshow.css" />
<script src="/autoslideshow.js"></script>
{{- $.Page.Store.Add "autoslideshowCount" 1 }}
{{- else -}}
<!-- only need stylesheet and js once -->
{{- end -}}

<div class="slideshow-container">
  {{ range resources.Match (.Get "resourcePattern") }}
    <div class="slideshow-slide ss{{- $classID }} fade">
      {{ $img := .Process "fill 350x200" }}
      <figure>
        <img src="{{- $img.RelPermalink -}}">
      </figure>
    </div>
  {{ end }}
  
  <!-- Next and previous buttons -->
  <a class="prev" onclick="stepSlide('ss{{- $classID -}}', -1)">&#10094;</a>
  <a class="next" onclick="stepSlide('ss{{- $classID -}}', 1)">&#10095;</a>

  <script> initSlides("ss{{- $classID -}}",
            {{- if .Params.time -}}
              {{- .Params.time -}}
            {{- else -}}
               5000
            {{- end -}},
            {{- if .Params.delay -}}
              {{- .Params.delay -}}
            {{- else -}}
              Math.floor(Math.random() * 1000)
            {{- end -}}
           );
  </script>
</div>
