{{/* the classic BARGE banner, slightly tweaked for style. */}}
{{/* I added the bugs. */}}

<span style="float: left; width: 30vw;">
  <img src="/barge_logo_undated-1024x694-1920w.png">
</span> 
<span>
  <span style="text-align: center;">
    <h1 style="font-weight: 400; font-family:Impact;">BARGE</h1>
  </span>
    <div style="text-align: center;">
      "There&nbsp;are no strangers&nbsp;here,
      just&nbsp;friends you haven't&nbsp;met&nbsp;yet"
    </div>
    <div style="text-align: right;">&mdash; Peter "Foldem" Secor</div>
</span> 
<span style="clear: both;">&nbsp;</span>
