<div class="cta-wrapper-wrapper">
  <div class="cta-wrapper cta-text">
    <a href="{{- .Get "link" -}}">
      <span class="cta-text">
        {{- .Inner -}}
        {{- /* external link symbol. this bit is borrowed from PaperMod. */ -}}
        {{- if (findRE "://" (.Get "link")) -}}&nbsp;
        <svg fill="none" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round"
             stroke-linejoin="round" stroke-width="2.5" viewBox="0 0 24 24" height="12" width="12">
          <path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path>
          <path d="M15 3h6v6"></path>
          <path d="M10 14L21 3"></path>
        </svg>
        {{- end -}}
      </span>
    </a>
  </div>
</div>
